
.box1 { 
    position: absolute;
	top: 0px;
	left: 0px; 
	bottom: 0px; 
	right: 20%; 
	
	background: #ee3e64;
}
.box2 { 
    position: absolute; 
	top: 0px;
	right: 0; 
	bottom: 0px; 
	left: 80%;  
	background: #b7d84b;
}

