p{
    text-align: center;
    color: rgb(110, 26, 199);
    font-size: 50px;
    margin: 0;
}

.box1 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
.box2 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #44accf;
}

.box3 { 
	position: fixed;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}

